<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
-->

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>

<!-- ngCordova -->
<!-- <script src="lib/ngCordova/dist/ng-cordova.js"></script> -->


<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</head>
<body ng-app="starter">

  <ion-pane class="pane">
    <!-- <ion-header-bar class="bar-stable">
    <h1 class="title">Watsinley</h1>
  </ion-header-bar> -->
  <ion-content>


    <div class="main" ng-controller="mainCtrl">


      <div class="row">
        <div id="sheriff">
          <img id="sheriff-img" class="img-responsive" ng-src="img/character/{{mainCharacter.imgSrc}}" alt="">
          <div class="bubble" ng-show="message">
            {{message}}
          </div>

        </div>
      </div>

      <div class="row">
        <div id="menu" class="col-70">

          <div class="row">
            <!-- <img src="img/menu.png" alt="" /> -->
            <div class="col-20 action" ng-click="mainCharacter.dance()">
              <img src="img/menu/menu1.svg" alt="">
              <div class="play-stop play">

              </div>
            </div>

            <div class="col-20 action" ng-click="mainCharacter.mace()">
              <img src="img/menu/menu2.svg" alt="">
              <div class="play-stop play">

              </div>
            </div>

            <div class="col-20 action" ng-click="mainCharacter.anger()">
              <img src="img/menu/menu3.svg" alt="">
              <div class="play-stop play">

              </div>
            </div>

            <div class="col-20 action" ng-click="mainCharacter.status()">
              <img src="img/menu/menu4.svg" alt="">
              <div class="play-stop play">

              </div>
            </div>

            <div class="col-20 action" ng-click="mainCharacter.play()">
              <img src="img/menu/menu5.svg" alt="">
              <div class="play-stop play">

              </div>
            </div>
          </div>






        </div>
      </div>






    </div>


  </ion-content>
</ion-pane>
</body>
</html>
